<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!--CSS-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <link rel="stylesheet" href="../static/css/styles.css">
        <style>
          .row{
            width: 500px;
            height: 560px;
            border-radius: 10px;
            background: #fff;
            box-shadow: 5px 5px 10px 1px rgba(0,0,0,0.2);
          }
        </style>
        <!--CSS-->

    <title>PLAZA PLUS | RESULT</title>
</head>
<body>
    <div align="center" class="mx-3 my-3"><h1>Captured Image :</h1></div>
    <div align="center" class="form-floating col-6 border border-dark mx-auto my-auto"><img src="{{ url_for('static',filename='scanned_img1.jpg')}}"></div>
    <br>
    <div class="container" align='center'>
      <div class="row">
        <div class="col">
          <div align = 'left' class = 'mx-3'>
            {% for item in DATA %}
            <h3>Details :</h3>
            <h3>Name : {{ item[0] }}</h3>
            <h3>User ID : {{ item[1] }}</h3>
            <h3>No of axcels : {{ item[2] }}</h3>
            <h3>City : {{ item[3] }}</h3>
            <h3>Contact No : {{ item[4] }}</h3>
            <h3>Vehicle No : {{ item[5] }}</h3>
            {% endfor %}
            {% for item in DATA2 %}
            <h3>Toll Name : {{ item[0] }}</h3>
            <h3>Toll Amount : {{ item[1] }}</h3>
            <h3>Status : {{ item[2] }}</h3>
            {% endfor %}
            <div class="col d-flex">
              <p class="fs-4 my-0">Gate open?</p>
              <div class="col d-flex">
                <form action="">
                {% for item in DATA2 %}
                  <a type="submit" class="btn btn-dark mb-2" href="/update_done/{{item[3]}}">Yes</a>
                {% endfor%}
                </form>
                <form action="toll">
                  <a type="submit" class="btn btn-dark mb-2">No</a>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>

    <!--<div class="container text-center mx-3 my-3 col-7">
        <div class="row4">
          <div class="col">
            <p class="fs-4 my-0">Gate open?</p>
          </div>
          <div class="col">
            <form action="">
            {% for item in DATA2 %}
              <a type="submit" class="btn btn-dark mb-2" href="/update_done/{{item[3]}}">Yes</a>
            {% endfor %}
            </form>
            <form action="toll">
              <button type="submit">No</button>
            </form>
          </div>
        </div>
    </div>-->

    <!--JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <!--JS-->
</body>
</html>