<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--CSS-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/styles.css">
    <style>
        body{
            background-image: none;
        }
    </style>
    <!--CSS-->

    
    <title>PLAZA PLUS | TOLL PLAZA</title>
</head>
<body>
    <div>
        <div align="center" class="mx-3 my-0">
            <h1>TOLL PLAZA</h1>
        </div>

        <div class = 'form-group' align='center'>

        <div align="center" class="mx-3 my-0"><h2>Number Plate Recognition</h2></div>
        <div>
            <div align="center" class="mx-3 my-0"><h3>Capturing Number Plate</h3></div>
            <img src="{{ url_for('video') }}" class="form-floating mx-3 my-3 col-6 border border-dark mx-auto my-auto" align='center' width = "100px" height="430px">
            <form action="result"><button class="btn btn-dark btn-lg border border-dark btn-lg d-grid gap-2 col-2 mx-auto mt-3">Proceed</button></form>
        </div>
        
        <div align = 'center' class='mt-3 mb-3'>
            <a class="btn btn-dark btn-lg border border-dark btn-lg d-grid gap-2 col-2 mx-auto" href="/logout" role="button">Logout</a>
        </div>

    </div>

    <!--JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <!--JS-->

</body>
</html>