<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="../static/css/admin_styles.css" />

    <style>
        /* The heart of the matter */
          
        .horizontal-scrollable > .row {
            overflow-x: auto;
            white-space: nowrap;
        }
          
        .horizontal-scrollable > .row > .col {
            display:inline-block;
            float:none;
        }
        
    </style>

    <title>PLAZA PLUS | REJECTED USERS</title>
</head>

<body>
    <div class="d-flex" id="wrapper">
        <!-- Sidebar -->
        <div class="" id="sidebar-wrapper">
            <div class="sidebar-heading text-center py-4 text-white fs-4 fw-bold text-uppercase">
                <i class="fas fa-regular fa-car p-2"></i><h3>PLAZA PLUS</h3></div>
            <div class="list-group list-group-flush my-3">
                <a href="/admin" class="list-group-item list-group-item-action bg-transparent second-text">
                    <i class="fas fa-home p-1"></i>Dashboard</a>
                <a href="/acc_rej_user" class="list-group-item list-group-item-action bg-transparent second-text fw-bold">
                        <i class="fas fa-solid fa-users p-1"></i>Accept/Reject Users</a>
                <a href="/registered_user" class="list-group-item list-group-item-action bg-transparent second-text fw-bold">
                        <i class="fas fa-user-check p-1"></i>Registered Users</a>
                <a href="/rejected_user" class="list-group-item list-group-item-action bg-transparent second-text fw-bold">
                        <i class="fas fa-user-times p-1"></i>Rejected Users</a>
                <a href="/add_del_toll" class="list-group-item list-group-item-action bg-transparent second-text fw-bold">
                        <i class="fas fa-store-alt p-1"></i>Manage Toll Plaza</a>
                <a href="/logout" class="list-group-item list-group-item-action bg-transparent text-danger fw-bold">
                    <i class="fas fa-power-off p-2"></i>LOGOUT</a>
            </div>
        </div>
        
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <nav class="navbar navbar-expand-lg navbar-light py-4 px-4">
                <div class="d-flex align-items-center">
                    <i class="fas fa-solid fa-bars fs-4 me-3 p-2" style="color: white;" id="menu-toggle"></i>
                    <h2 class="fs-2 m-0" style="color: white;" align="center">REJECTED USERS</h2>
                </div>

            </nav>

            <div class="container-fluid px-4">
                <div class="row g-3 my-2">
                    <div class="col-md-3">
                        <div class="boxex m-2 p-3 shadow-sm d-flex justify-content-around align-items-center">
                            <div>
                                <h3 class="fs-2 text-white">720</h3>
                                <p class="fs-5 text-white">USER VERIFICATION</p>
                            </div>
                            <i class="fas fa-solid fa-users fs-1 primary-text border border-dark rounded-full secondary-bg p-3"></i>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="boxex m-2 p-3 shadow-sm d-flex justify-content-around align-items-center">
                            <div>
                                <h3 class="fs-1 text-white">4920</h3>
                                <p class="fs-5 text-white">REGISTERED USERS</p>
                            </div>
                            <i
                                class="fas fa-user-check fs-1 primary-text border border-dark rounded-full secondary-bg p-3"></i>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="boxex m-2 p-3 shadow-sm d-flex justify-content-around align-items-center">
                            <div>
                                <h3 class="fs-2 text-white">3899</h3>
                                <p class="fs-5 text-white">REJECTED USERS</p>
                            </div>
                            <i class="fas fa-user-times fs-1 primary-text border border-dark rounded-full secondary-bg p-3"></i>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="boxex m-2 p-3 shadow-sm d-flex justify-content-around align-items-center">
                            <div>
                                <h3 class="fs-2 text-white">50</h3>
                                <p class="fs-5 text-white">TOLL BOOTHS</p>
                            </div>
                            <i class="fas fa-store-alt fs-1 primary-text borde border-dark rounded-full secondary-bg p-3"></i>
                        </div>
                    </div>
                </div>

            </div>

            <div class="m-2 p-2">
            <div class="container horizontal-scrollable">

                <div class="row my-3">
                    <div class="col">
                        <table class="table bg-white table-bordered border-dark rounded shadow-sm">
                            <thead>
                                <tr>
                                    <th scope="col" class="text-white" style="background-color: #292c36; border:1pt solid black;">User name</th>
                                    <th scope="col" class="text-white" style="background-color: #292c36; border:1pt solid black;">User ID</th>
                                    <th scope="col" class="text-white" style="background-color: #292c36; border:1pt solid black;">Vehicle License No</th>
                                    <th scope="col" class="text-white" style="background-color: #292c36; border:1pt solid black;">City</th>
                                    <th scope="col" class="text-white" style="background-color: #292c36; border:1pt solid black;">State</th>
                                    <th scope="col" class="text-white" style="background-color: #292c36; border:1pt solid black;">Contact No</th>
                                </tr>
                            </thead>
                            <tbody class="border-dark-2 table-hover">
                                {% for item in DATA %}
                                <tr>
                                    <td class = "border-dark">{{item[0]}}</td>
                                    <td class = "border-dark">{{item[1]}}</td>
                                    <td class = "border-dark">{{item[2]}}</td>
                                    <td class = "border-dark">{{item[3]}}</td>
                                    <td class = "border-dark">{{item[4]}}</td>
                                    <td class = "border-dark">{{item[5]}}</td>
                                </tr>

                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script>
        var el = document.getElementById("wrapper");
        var toggleButton = document.getElementById("menu-toggle");

        toggleButton.onclick = function () {
            el.classList.toggle("toggled");
        };
    </script>
</body>

</html>