{%extends "base.html"%}

{%block title%}PLAZA PLUS | HOME{%endblock%}

{%block content%}
   <!-- HERO -->
   <section id="hero" class ='min-vh-100 d-flex align-items-center text-center'>
    <div class="container1">
        <div class="row1">
            <div class="col-12">
                <h1 class="text-uppercase text-white fw-semibold display-1">WELCOME TO PLAZA PLUS</h1>
                <h3 class="text-white mt-3 mb-4">A PLACE WHERE YOU CAN PRE-BOOK YOUR TOLL</h3>
                <div align='center'>
                    <a href="/prebook" class="btn btn-warning ms-lg-3">PRE-BOOK YOUR TOLL</a>
                    <a href="/booking" class="btn btn-light ms-lg-3">TOLL BOOKINGS</a>
                </div>
            </div>
        </div>
    </div>
  </section>
{%endblock%}